.idea/*
*.iml
target/
$RECYCLE.BIN/
velocity.log*
#*.vm
solc/*
*.zip
*plan.error.xml
src/test/resources/contracts/wasm/build/*
src/test/resources/contracts/network.platon.test.evm/build/*
scripts/platon-web3j
autotest_log

*.abi.json
