name: unittest

on:
  pull_request:
    branches: '*'
env:
  GO111MODULE: on
jobs:
  test:
    name: Build
    runs-on: ubuntu-18.04
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Get dependencies
        run: |
          go get -v -t -d ./...


      - name: Build
        run: make platon

      - name: Test
        run: go test -tags=test -covermode=count -coverprofile=coverage.out  `go list ./...|grep -v life|grep -v swarm|grep -v tests|grep -v bn256|grep -v mobile`

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
            file: ./coverage.txt
            flags: unittests
            name: codecov-umbrella
